name: gradle deployment

on:
    push:
      branches:
        - main
    workflow_call:

jobs:
 Deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with: 
          repository: prema6396/Argocd
          
          ref: main
          token:  ${{ secrets.GITHUB_TOKEN }} 
          
      - name: deploy
        run: |
          git config --global user.email "${{secrets.GIT_USER_MAIL}}"
          git config --global user.name "${{secrets.GIT_USER_NAME}}"       
          
          sed -i "s|graglecont.azurecr.io/${{ secrets.DOCKER_REPO }}:.*|graglecont.azurecr.io/${{ secrets.DOCKER_REPO }}:${GITHUB_RUN_NUMBER}|" deployment.yaml
          git add .
          git commit -m "deployment file updated"
          git push origin HEAD:main
          
        env:

          GIT_PAT: ${{ secrets.GITHUB_TOKEN }}
